body {
	margin: 0;
}

header {
    font-size: 50px;
    height: 80vh;
    background-image: url(../resources/header.png);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Unica One';
	color: white;
	text-shadow: 4px 4px 10px black;
	text-align: center;
}

#heading-1{
	padding-top: 150px;
}

::-webkit-scrollbar{
	width: 8px;
	background: rgba(0,0,0,0.9);
	border-radius: 5px;
}
::-webkit-scrollbar-thumb{
	width: 4px;
    background: #fc2004b6;
	border-radius: 5px;
}
*{
	margin:0;
	scroll-behavior: smooth;
}