
::-webkit-scrollbar{
	width: 8px;
	background: rgba(0,0,0,0.9);
	border-radius: 5px;
}
::-webkit-scrollbar-thumb{
	width: 4px;
    background: #fc2004b6;
	border-radius: 5px;
}
*{
	margin:0;
	scroll-behavior: smooth;
}
#p1 {
	width: 55%;
	float: left;
}

.subheadings {
	float: left;
}