::-webkit-scrollbar{
	width: 8px;
	background: rgba(0,0,0,0.9);
	border-radius: 5px;
}
::-webkit-scrollbar-thumb{
	width: 4px;
    background: #fc2004b6;
	border-radius: 5px;
}
*{
	margin:0;
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

header {
    font-size: 50px;
    height: 100vh;
    background-image: url(../resources/header\ img.png);
	background-size: 100%;
	font-family: 'Unica One';
	color: white;
	text-shadow: 4px 4px 10px black;
	text-align: center;
}

#heading-1{
	padding-top: 150px;
}
#loader{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	position: fixed;
	z-index: 20;
	background: linear-gradient(to right, grey 0%, grey 20%, rgb(93, 93, 93) 20%, rgb(93, 93, 93) 40%, rgb(65, 65, 65) 40%, rgb(65, 65, 65) 60%, rgb(93, 93, 93) 60%, rgb(93, 93, 93) 80%, grey 80%, grey 100%);
	animation-name: load;
	animation-duration: 3s;
	animation-iteration-count:1;
	animation-fill-mode: forwards;
}
#inload{
	text-align: center;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	position: absolute;
	background-color: #FFFFFF;
	top: calc(50vh - 150px);
	display: block;
	background-image: url(../resources/loader.png);
	background-size: cover;
	background-position: center;
	z-index: 20;
	animation-name: load;
	animation-duration: 3s;
	animation-iteration-count:1;
	animation-fill-mode: forwards;
}
@keyframes load{
	0%{transform: translate(0,-100vh);}
	1%{transform: translate(0,0);}
	80% {transform: translate(0,0);}
	100%{transform: translate(0,-100vh);}
}

#navul{
	background-color: rgba(86, 172, 223, 0.671);
	width: 10px;
	padding: 50px 0px;
    display: flex;
    flex-direction: column;
	height: 300px;
	border-radius: 0px 20px 20px 0px;
}

.navimg {
	width: 50px;
}

.nav-li {
	list-style-type: none;
	color: white;
	padding: 25px 10px;
	transition-duration: 2s;
	display: none;
}
.nav-text {
	display: none;
	width: fit-content;
	padding: 10px;
	font-size: 40px;
	transition-duration: 1s;
	font-family: 'josefin sans';
}

nav {
	width: fit-content;
    position: fixed;
    z-index: 1;
	display: flex;
	align-items: center;
	transition-duration: 2s;
	height: 100vh;
}   

#navul:hover{
	width: 100%;
}
#navul:hover > li{
	display: inline;
}

main{
	width: 100vw;
	background-color: rgb(233, 233, 167);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Playfair Display';
	color: rgba(0, 0, 0, 0.815);
	text-align: center;
}

footer {
	display: inline-block;
	width: 100%;
	background: #ff543d;
	overflow-x: hidden;
	color: white;
	font-family: montserrat;
	font-size: 16px;
}

footer div {
	padding: 30px;
	margin: 0px;
	width: fit-content;
	float: left;
}

@keyframes fromRight {
	from {
		right: -1000px;
	}
	to {
		right: 20px;
	}
}

#heading-one{
	font-size: 100px;
	height: 100vh;
	text-align: center;
	padding-top: 40vh;
}

.p {
	height: fit-content;
	float: left;
	font-family: montserrat;
	font-size: 20px;
	text-align: center;
	font-weight: bolder;
	padding: 20px 10vw;
}

@keyframes minimize {
	from {
		height: 100vh;
		font-size: 100px;
	} to {
		height: 20vh;
		font-size: 20px;
	}
}

@keyframes maximize {
	from {
		height: 20vh;
		font-size: 20px;
	} to {
		height: 100vh;
		font-size: 100px;
	}
}

@keyframes max-content {
	from {
		padding: 100px;
	} to {
		padding: 40vh 100px;
	}
}

@keyframes min-content {
	from {
		padding: 40vh 100px;
	} to {
		padding: 100px;
	}
}

.p-div {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.heading{
	font-family: nunito;
	font-size: 40px;
}